SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
PRIVATE_KEY=0xYOUR_DEPLOYER_PRIVATE_KEY
VRF_COORDINATOR=0x8103B0A8A00be2DDC778e6e7eaa21791Cd364625
VRF_SUBSCRIPTION_ID=123
VRF_KEY_HASH=0x787d74caea10b2b357790d5b5247c2f63d1d91572a9846f780606e4d953677ae
VRF_CALLBACK_GAS_LIMIT=500000
VRF_NATIVE_PAYMENT=true
VITE_SUPER_LOTTERY_ADDRESS=0xYOUR_DEPLOYED_CONTRACT
